@import "./scss/styles.scss";

// /* #root { */
// /*   background: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F9%2F1%2Ff%2F645001.jpg&f=1&nofb=1&ipt=8ca48575aa326ad1f0423b959dfd57063840ee2612d9397bf8a51842c05249e1&ipo=images") no-repeat center center fixed; */
// /*   -webkit-background-size: cover; */
// /*   -moz-background-size: cover; */
// /*   -o-background-size: cover; */
// /*   background-size: cover; */
// /* } */

body {
  --s: 300px;
  /* control the size */
  --c1: #f2f2f2;
  --c2: #cdcbcc;
  --c3: #999999;

  --_g: 0 120deg, #0000 0;
  background: conic-gradient(from 0deg at calc(500% / 6) calc(100% / 3),
      var(--c3) var(--_g)),
    conic-gradient(from -120deg at calc(100% / 6) calc(100% / 3),
      var(--c2) var(--_g)),
    conic-gradient(from 120deg at calc(100% / 3) calc(500% / 6),
      var(--c1) var(--_g)),
    conic-gradient(from 120deg at calc(200% / 3) calc(500% / 6),
      var(--c1) var(--_g)),
    conic-gradient(from -180deg at calc(100% / 3) 50%,
      var(--c2) 60deg,
      var(--c1) var(--_g)),
    conic-gradient(from 60deg at calc(200% / 3) 50%,
      var(--c1) 60deg,
      var(--c3) var(--_g)),
    conic-gradient(from -60deg at 50% calc(100% / 3),
      var(--c1) 120deg,
      var(--c2) 0 240deg,
      var(--c3) 0);
  background-size: calc(var(--s) * 1.732) var(--s);

}

html,
body {
  min-width: 360px;
}

:root {
  --nav--margin-top: 1vh; // needs to be vh.
  --nav--height: 3rem; // set on render.
  --nav--size: calc(var(--nav--margin-top) + var(--nav--height));
}

.box {
  @extend .border;
  @extend .border-light;
  @extend .border-opacity-75;

  @extend .rounded-4;
  @extend .shadow-lg;

  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
  @extend .align-items-center;

  @extend .text-white;
}

.box--bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.box--margin {
  @extend .my-5;
}

.navbar--spacer {
  min-height: var(--nav--size);
}

.navbar {
  margin-top: var(--nav--margin-top);
}

.navbar--bg {
  background-color: rgba(tint-color($primary, 50%), .1) !important
}

.nav-link.active {
  /* WORKAROUND: */
  @extend .text-decoration-underline !optional;
}

.offset:target {
  scroll-padding-top: calc(var(--nav--size) - 3rem);
}

.landing__stack {
  --stack--height: calc(100vh - var(--nav--size));
  --spacing: 6vh;
  padding: var(--spacing) 0;
  gap: var(--spacing);
  height: calc(calc(var(--stack--height) - var(--spacing)) * 2);
  min-height: 550px;

  @media only screen and (min-height: 780px) {
    --spacing: 2vh;
    height: var(--stack--height);
  }

}

.hero {
  // TODO: this class is unneeded
  height: 50%;

  // margin: 0 !important;
  @media only screen and (min-height: 780px) {
    height: 50%;
  }
}

.hero__brand {
  right: 20%;
}

.hero__p {
  right: 25%;
}

.hero__cta {
  top: 25%;
}

.carousel__row--bg {
  background-color: rgba(0, 0, 0, 0.2);
}

.about__stack {
  min-height: 60vh;
}

.icon {
  cursor: pointer;
  padding: 0em 0.5em;
  --fa-animation-duration: 2s;
  --fa-bounce-height: -10px;
}
