/* @import "./scss/style.scss"; */

#root {
  background: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F9%2F1%2Ff%2F645001.jpg&f=1&nofb=1&ipt=8ca48575aa326ad1f0423b959dfd57063840ee2612d9397bf8a51842c05249e1&ipo=images")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html {
  scroll-padding-top: 5rem;
}

.m-section {
  margin: 8rem 0;
}
