@import "./scss/styles.scss";

// /* #root { */
// /*   background: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F9%2F1%2Ff%2F645001.jpg&f=1&nofb=1&ipt=8ca48575aa326ad1f0423b959dfd57063840ee2612d9397bf8a51842c05249e1&ipo=images") no-repeat center center fixed; */
// /*   -webkit-background-size: cover; */
// /*   -moz-background-size: cover; */
// /*   -o-background-size: cover; */
// /*   background-size: cover; */
// /* } */


html,
body {
  min-width: 360px;
}

:root {
  --nav--margin-top: 1vh; // needs to be vh.
  --nav--height: 3rem; // set on render.
  --nav--size: calc(var(--nav--margin-top) + var(--nav--height));
}

.box {
  @extend .border;
  @extend .border-light;
  @extend .border-opacity-75;

  @extend .rounded-4;
  @extend .shadow-lg;

  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
  @extend .align-items-center;

  @extend .text-white;
}

.box--bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.box--margin {
  @extend .my-5;
  @extend .mx-0;
}

.navbar--spacer {
  min-height: var(--nav--size);
}

.navbar {
  margin-top: var(--nav--margin-top);
}

.navbar--bg {
  background-color: rgba(tint-color($primary, 20%), .3) !important
}

.nav-link.active {
  /* WORKAROUND: */
  @extend .text-decoration-underline !optional;
}

.offset:target {
  scroll-margin-top: calc(var(--nav--size) + 3rem);
}

.landing__container {
  --stack--height: calc(100vh - var(--nav--size));
  --spacing: 6vh;
  padding: var(--spacing) 0;
    height: var(--stack--height);
  min-height: 550px;
}

.hero {
  // TODO: this class is unneeded
  height: 100%;
  background: no-repeat;
  background-image: url("src/assets/hero-background.jpg");
  background-size: cover;
}

.hero__container--color{
background: rgba($primary, 0.2) ;
}

.hero__background--tint {
  background-color: rgba($orange-900,.5);
  background-blend-mode: multiply;
}

.hero__brand {
  right: 20%;
}

.hero__p {
  right: 25%;
}

.hero__cta {
  top: 25%;
}

.carousel__row--bg {
  background-color: rgba(0, 0, 0, 0.2);
}

.about__stack {
  min-height: 60vh;
}

.icon {
  cursor: pointer;
  padding: 0em 0.5em;
  --fa-animation-duration: 2s;
  --fa-bounce-height: -10px;
}
