@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "bootstrap/scss/functions";
// Default variable overrides here
$cocoa: #89662B;
$durazno: #FFBD59;
$ash: #A6A6A6;
$ash_light: #CFC9C0;
$bone: #E4D5BF;

$primary: $cocoa;
$secondary: $ash;

$font-family-base: 'Poppins', sans-serif;

@import "bootstrap/scss/variables";
$custom-colors: (
  // "cocoa": $cocoa,
  "durazno": $durazno,
  // "ash":$ash,
  "ash_light":$ash_light,
  "bone": $bone,
);

// $border-color: $primary;
$navbar-light-brand-color: $orange-900;
$navbar-light-brand-hover-color: $orange-900;
$navbar-links-color: $orange-900;
$navbar-light-color: $navbar-links-color;
$navbar-light-hover-color: $navbar-links-color;
$navbar-light-active-color: $navbar-links-color;

$box-shadow-lg: 0 1rem 3rem rgba($black, .45);

$theme-colors: map-remove($theme-colors, "info", "success");
$theme-colors: map-merge($theme-colors, $custom-colors);
// Default map overrides here
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/card";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/images";

// TODO: remove
@import "bootstrap/scss/placeholders";

// TODO: CHECK
@import "bootstrap/scss/transitions";

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/type";

@import "bootstrap/scss/utilities/api";
